@font-face {
  font-family: arimaBold;
  src: url(./fonts/ArimaKoshi-Bold.otf);
}

@font-face {
  font-family: montReg;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: bubblegum;
  src: url(./fonts/JosefinSlab.ttf);
}

.bubblegum {
  font-family: bubblegum;
}

.montreg {
  font-family: montReg!important;
}

$main-color: #273246;

$brand-pink:#f903a5;

$brand-purple:#723bdf;

* {
  img {
    pointer-events: none
  }
}

html, body {
  height:100%;
}

body {
  // @apply p-6;
  
  font-family: montReg!important;
  @apply min-h-screen;

  @apply font-sans;
  @apply text-neutral-800;
  @apply bg-gradient-to-b from-neutral-100 via-neutral-100 to-neutral-200;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    position: relative!important;
    background: black!important;
    top:0!important;
    color:white!important;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

a, a:link, a:visited {
  @apply font-semibold;
  @apply text-primary-600;
  color:#b8b8b8;

  &:hover {
    @apply underline;
    color:#b8b8b8;
  }
}

strong {
  @apply font-semibold;
}

main {
  @apply flex flex-col;
}

#logo {
  @apply m-auto;
  @apply w-full;
  @apply max-w-md;
}

span.emoji {
  @apply text-2xl;
}

.error {
  @apply flex flex-col;
  @apply rounded-lg;
  @apply p-3;
  
  @apply text-sm;
  @apply bg-error-50;
  @apply border border-error-200;
  @apply shadow;
  @apply text-error-500;

  &::before {
    content: 'Error';

    @apply font-semibold;
    @apply text-base;
  }

  button {
    @apply inline-block;
    @apply mt-3 ml-auto;
    @apply px-2 py-1;
    @apply rounded-md;

    @apply text-xs;

    @apply font-semibold;
    @apply text-errortxt;
    @apply bg-error-500;

    &:hover {
      @apply bg-error-400;
    }
  }
}

button {
  @apply py-2 px-6;

  @apply rounded-full;
  
  @apply font-semibold;
  @apply bg-popupsbg;
  @apply border border-neutral-200;
  @apply shadow-sm;

  &:hover {
    @apply bg-neutral-100;
  }

  &.primary {
    @apply text-primarytxt;
    @apply bg-primary-500;
    @apply border;

    &:hover {
      @apply bg-primary-600;
    }

    &:disabled {
      @apply opacity-30;

      &:hover {
        @apply cursor-not-allowed;
      }
    }
  }
}

input[type=text] {
  @apply py-2 px-4;

  @apply rounded-full;
  
  @apply font-mono font-semibold;
  @apply text-primary-600;
  @apply bg-popupsbg;
  @apply border border-neutral-200;
  @apply shadow-sm;
  @apply outline-none;

  &:focus {
    @apply bg-neutral-50;
    @apply border-primary-300;
  }

  &:disabled {
    @apply opacity-50;

    &:hover {
      @apply cursor-not-allowed;
    }
  }
}

label {
  @apply mt-4 mb-1 ml-1;

  @apply font-semibold;
  @apply text-sm text-primary-600;
}



.navLogo {
  height: 2.5rem;
}

.nav-social { 
  display: inline-block;
  padding-right: 1rem!important;
}

.nav-social svg {
  height: 3rem;
  width: 3rem; 
}

.nav-social-cont {
  display: flex;
  // margin: auto;
  bottom: 0;
}

.btn-close svg{
  fill: $brand-pink!important;
}

#nav {
  z-index: 10;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  color: white!important;
  font-family: 'bubblegum';
}

.nav-link {
  color: white!important;
  font-family: 'montReg';
  
  &:hover {    
    color:$brand-pink!important;
  }
}

.nav-link svg {
  fill: $brand-pink!important;
}

.navbar-toggler{
  background-color: white!important;
}

// .navbar-toggler-icon {
//   background-image: none!important;
// }
// .navbar-toggler-icon::before {
//   content: FaBars; /* fa-bars, fa-navicon */
// }

.ga-container{
  // background-color: rgb(0 0 0 / .7)!important;
  background-color: #171616!important;
  border-width: 1px!important;
  border-color: #ed9ac2!important;  
  box-shadow: 0 0 10px #ed9ac2!important;
  border-radius: 10px;
  font-family: montReg;
}

.not-mainnet{
  color: red!important;
    background-color: transparent!important;
    border-width: 0!important;
    box-shadow: none!important;
}

.collection-info{
  text-align: center;
}

.info-text{
  border-radius: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.ga-inner-container{
  background-color: transparent!important;
  border-width: 0px!important;
  color: white!important;
}

.supply{
  border-right-width: 0!important;
}

.user-address{
  border-bottom-width: 0!important;
}

.collection-status{
  box-shadow:none!important;
}

.label{
  color: #ed9ac2!important;
}

#about {
  height: 100%;
  background-image: linear-gradient(#252525, #392178);
  // background: linear-gradient(#392178, #6a32dc);
  color: white!important;
}

#team {
  background-color: #392178;  
  font-family: montReg;
  color: white;
}

.team-row {
  margin: auto!important;
}

#roadmap {
  background-image: url("/images/footerImg.png"), linear-gradient(#392178, #6a32dc, #392178);
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: montReg;
  color: white;
  padding-bottom: 25vh;
}

#story {
  background-image: url("/images/footerImg.png"), linear-gradient( #6a32dc, #392178);
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: montReg;
  color: white;
  padding-bottom: 25vh;
}

#holder-benefits {
  background-image: url("/images/footerImg.png"), linear-gradient(#392178, #6a32dc, #392178);
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: montReg;
  color: white;
  padding-bottom: 25vh;
}

#team {
  background-image: url("/images/footerImg.png"), linear-gradient(#392178, #6a32dc);
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: montReg;
  color: white;
  padding-bottom: 25vh;
}

.team {
  background: linear-gradient(#392178, #6a32dc,#392178);
  background-position: cover;
}

.team-image {  
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  border-radius:50%!important;
}

.roadmap-img {
  border-color: #000000 !important;
  box-shadow: 0 0 10px #000000 !important;
}

#faq {  
  background-image: url("/images/footerImg.png"), linear-gradient(#392178, #6a32dc, #392178);
  font-family: montReg;
  color: white;
  // background-image: url("/images/footerOverlay.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 100px;
}

.faq-item{
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}

.faq-title{
  color: $brand-pink;
}

.ga-section-title{
  text-align: center!important;
  margin-bottom: 3rem;  
  font-family: 'bubblegum';  
  color: white!important;
}

.about-img{
  border-radius: 50%;
  max-height: 50vh;
  margin-top: 4.5rem!important;
}

.footer-container {
  background-color: $main-color;
  font-family: montReg;
  color: white;
  background-color: transparent;
  position: absolute;
}

footer{
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100vw;
}

.team-container {
  padding-bottom: 3rem;
}


//accordion
.accordion-button{
  background-color:transparent!important;
  color: $brand-pink!important;
}

.accordion-body{
  background-color:#273246!important;
  color: #d4d9df!important;
}

.accordion-item{
  border: none!important;
  background-color: transparent!important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")!important;  
}

.accordion-button:focus {
  border-color: white!important;
  box-shadow: 0 0 0 0.15rem white!important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.navbar-toggler {
  background-color: transparent!important;
}

@media (min-width:1400px){
.gasc-nav-container 
{
  max-width:1800px!important;
}
}

#hero{  
  border-bottom: 8px solid $brand-pink;
}


// #hero:before,
// #hero:after {
//   content: '';
//   position: absolute;
//   top: 100%;
//   left: 19px;
//   border: 11px solid transparent;
//   border-bottom-color: #dddddd;
// }

// #hero:after {
//   left: 20px;
//   border: 10px solid transparent;
//   border-bottom-color: #ffffff;
// }

.hero-image {
  min-height: 40vh;
    object-fit: cover;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.dapp-outer{
  height: 100vh;  
}

@media only screen and (max-width: 510px) {
  .dapp-container {
    max-width: 90vw!important;
  }
  }

.dapp-container {
  @apply flex flex-col gap-6;
  @apply mt-6 mx-auto;
  @apply w-full;
  @apply max-w-md;
  margin: auto;
  color: white;
  gap: 0!important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);



  .no-wallet {
    @apply flex flex-col;
    @apply px-4 py-6;
    @apply rounded-lg;
    
    @apply bg-popupsbg;
    @apply border border-neutral-50;
    @apply shadow;

    .use-block-explorer {
      &:not(:first-child) {
        @apply mt-3;
      }

      &:not(:first-child)::before {
        content: '';
        
        @apply block;
        @apply mx-auto my-3;
        @apply w-12;

        @apply border-t border-neutral-300;
      }
    }

    .merkle-proof-manual-address {
      @apply flex flex-col;
      @apply mt-4;

      h2 {
        @apply font-semibold;
        @apply text-primary-600 text-xl text-center;
      }

      p {
        @apply mt-3;
      }

      .feedback-message {
        @apply rounded-lg;
        @apply mt-4;
        @apply p-3;
        
        @apply text-sm;
        @apply bg-primary-100;
      }

      input {
        @apply rounded-t-lg;
        @apply rounded-b-none;
      }

      button {
        @apply rounded-b-lg;
        @apply rounded-t-none;
      }
    }
  }

  .collection-not-ready {
    @apply px-6 py-4;
    @apply rounded-lg;

    @apply text-sm;
    @apply bg-popupsbg;
    @apply border border-neutral-50;
    @apply shadow;

    .spinner {
      @apply inline;
      @apply -ml-1 mr-3 h-8 w-8 text-primary-500;
      @apply animate-spin;
    }
  }

  .collection-status {
    @apply grid sm:grid-cols-2 auto-rows-min;
    @apply rounded-lg;

    @apply font-mono;
    @apply text-sm;
    @apply bg-popupsbg;
    @apply border border-neutral-50;
    @apply shadow;

    & > * {
      @apply flex flex-col items-center;
      @apply px-6 py-4;

      .label {
        @apply text-xs text-primary-600;
      }
    }

    .user-address {
      @apply sm:col-span-2;
      @apply overflow-hidden;

      @apply border-b border-neutral-200;

      .address {
        @apply w-full;
        
        @apply font-semibold;
        @apply truncate;
        @apply text-center;
      }
    }

    .supply, .current-sale {
      .label {
        @apply block;

        @apply font-semibold;
      }

      &.supply {
        @apply border-b sm:border-b-0 sm:border-r border-neutral-200;
      }
    }
  }

  .cannot-mint, .not-mainnet, .collection-sold-out {
    @apply rounded-lg;
    @apply px-6 py-4;

    @apply text-center;
    @apply bg-popupsbg;
    @apply border border-neutral-50;
    @apply shadow;

    &.cannot-mint .emoji {
      @apply block;

      @apply text-4xl;
    }

    &.not-mainnet {
      @apply bg-warning-400;
      @apply border-warning-500;

      @apply text-warningtxt;

      .small {
        @apply block;

        @apply text-sm;
      }
    }

    &.collection-sold-out {
      h2 {
        @apply mb-3;

        @apply text-xl;
      }
    }
  }

  .mint-widget {
    @apply flex flex-col items-center;
    @apply rounded-lg;
    @apply overflow-hidden;

    @apply text-center;
    @apply bg-popupsbg;
    @apply shadow;

    .preview {
      @apply p-8;

      @apply bg-primary-200;
      
      img {
        @apply m-auto;
        @apply max-h-52;
        
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
      }
    }

    .price {
      @apply px-6 py-4;
    }

    & > * {
      @apply w-full;

      &:not(:last-child) {
        @apply border-b border-neutral-200;
      }
    }

    .controls {
      @apply flex items-stretch;

      & > * {
        @apply rounded-none;
        @apply border-0;
      }

      .decrease, .mint-amount {
        @apply border-r border-neutral-200;
      }

      .mint-amount {
        @apply flex items-center justify-center;
        @apply w-full;

        @apply font-semibold;
        @apply text-primary-600;
      }

      .primary {
        @apply border-0;
      }
    }
  }
}

// .ga-button{
//   background-color: #ed9ac2!important;
//   border: 0!important;
//   border-radius: 10px!important;
//   &:hover {    
//     box-shadow: 0 0 10px #ed9ac2!important;
//   }
// }

.ga-button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
  outline: 2px solid #fba1c7;
  overflow: hidden;
  transition: color 1s;
  padding: 15px 70px;
  border-radius: 3px;
  position: relative;
}
.ga-button:hover {
    color: #fff;
    background-color: transparent!important;
  }
  .ga-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fba1c7;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
  }
  .ga-button:hover::before {
    width: 150%;
  }

.mint-h1{
  color:white!important;
}

.mint-h1{
  margin-top: 1rem;
}

@media only screen and (max-width: 510px) {
  .mint-h1 {
    margin-top: 3.5rem!important;
  }
  }

.back-button {
  position: absolute;
  left:1rem;
  top:1rem;
  z-index: 999;
}

// roadmap
.timeline {
  border-left: 3px solid #fff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 0 50px;
  list-style: none;
  text-align: left;
  max-width: 80%;
}

@media (max-width: 767px) {
  .timeline {
      max-width: 98%;
      padding: 0 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
      padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
      left: 0px;
      text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #fff;
  box-shadow: 0 0 0 3px #fff;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  // top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
      left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

.left-image {
  // height: 100%;
  // width: auto;
  // overflow: hidden;
  object-fit: contain;
  // object-position: left;
  border-radius: 50px;
  width: auto;
  max-height: 500px;
}

@media only screen and (max-width: 700px) {
  .left-image {
    max-width: 90vw;
  }
}

.bold-list {
  font-weight: 900;
  font-size: 1.6rem;
}

//email form
.cs-message{
  font-family: 'bubblegum'!important;
  color: white!important;
  margin: 10px!important;
  font-size: 50px!important;
}

input{  
  font-family: 'bubblegum'!important;
  font-size: 20px!important;
}

button{  
  font-family: 'bubblegum'!important;
  font-size: 20px!important;
}

.content-container {
  margin-top:15vh;
}

@media only screen and (max-width: 510px) {
  .content-container {
    margin-top:5vh;
  }
}

@media only screen and (max-width: 700px) {
  .hero-image {
    width: 100vw!important;
    min-height: auto;
  }
}

//banners
// .hero {
//   background-repeat: no-repeat!important;
//   background-size: contain!important;
//   background-position: center!important;
// }

.landing-hero-image{
  min-height: 100%;
  width: 100vw;
}

.landing-hero-2{
  background: url('/images/bgs/stars.png') no-repeat center bottom;
  background-size: cover;
  background-color: #323131;
  width: 100%;
  text-align: center;
}

.landing-hero-3{
  background: url('/images/bgs/grid.png') no-repeat center top;
  background-size: cover;
  background-color: #323131;
  width: 100%;
  text-align: center;
}

.landing-hero-4{
  background-color: #252525;
  width: 100%;
  text-align: center;
}

.brands{
  max-height:50px;
  max-width: 30vw;
  height:50px;
}

.hero-yeti{
  margin: auto;
  position: center;
  max-width: 40vw;
}

.hero-border {  
  border-bottom: 8px solid $brand-pink;
}

.register-button{
  border-radius: 50px;
  margin: 1.5rem;
  padding: 1rem 3rem;
  background-color: $brand-purple;
  border: none;
  color: white;
  font-size: 2rem!important;

  &:hover {
    background-color: $brand-pink;
  }
}


.team-banner {
  background: url('/images/banners/beachParty.png') center;
  height: 90vh!important;
  background-repeat: no-repeat;
  background-size: cover;
  }


  @media only screen and (max-width: 750px) {
  .team-banner {
  height: 25vh!important;
  }
  }

  .roadmap-banner {
  background: url('/images/banners/snowParty.png') center;
  height: 90vh!important;
  background-repeat: no-repeat;
  background-size: cover;
  }


  @media only screen and (max-width: 750px) {
  .roadmap-banner {
  height: 25vh!important;
  }
  }

  .story-banner {
  background: url('/images/banners/cigarLounge.png') center;
  height: 90vh!important;
  background-repeat: no-repeat;
  background-size: cover;
  }


  @media only screen and (max-width: 750px) {
  .story-banner {
    height: 25vh!important;
  }
  }

  .holder-banner {
    background: url('/images/banners/yachtParty.png') center;
    height: 90vh!important;
    background-repeat: no-repeat;
    background-size: cover;
  }


  @media only screen and (max-width: 750px) {
  .holder-banner {
    height: 25vh!important;
  }
  }

  .fixed-top {
    position:absolute!important;
  }

  @media only screen and (min-width: 700px) {
    .navbar-toggler-icon {
      height: 3rem!important;
      width: 3rem!important;
    }
    }

  .navbar-toggler {
    box-shadow:none!important;
    border: none!important;
  }

  .navbar-toggler:focus {
    box-shadow:none!important;
    border: none!important;
  }

  .btn-close {
    color:$brand-pink!important;
  }

  #hb-section{
    // background-image: linear-gradient(#252525, #392178);
    background: linear-gradient(#392178, #6a32dc);
    margin: auto;
  }

  .holder-chart{
    max-width: 100%;
    max-height: 100vh;
  }

  #CompRm {
    background: linear-gradient(#6a32dc, #392178);
  }

  .roadmap-chart {
    max-width: 100%;
  }

  @media only screen and (max-width: 750px) {
  .rm-d{
    display: none!important;
  }
}

@media only screen and (min-width: 751px) {
  .rm-m {
    display: none!important;
  }
}

.video-button{
  color: white!important;
  background-color: #2d1d61!important;
  border-radius: 50px!important;
}

[data-rmiz-wrap="visible"], [data-rmiz-wrap="hidden"] {
display:block!important;
}

[data-rmiz-overlay] {
background-color: #392178!important;
}

.icon-size{
  margin: auto;
}

.nav-link{
  font-size: 1.2rem;
}

.navbar-nav{
  height: 100%;
}

.btn-close{
  background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f903a5'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") center/1em auto no-repeat!important;
  float: right;
}

.offcanvas-header{
  display: block!important;
}

@media only screen and (max-width: 750px) {
  .icon-size img{
    max-height: 50px;
  }
}

@media only screen and (min-width: 751px) {
  .icon-size img{
    max-height: 100px;
    padding-right: 2.5rem;
  }
}